html{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }


.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/background.jpg') no-repeat center center / cover;
  opacity: 0.5;
  z-index: -1; /* 背景を最背面に */
}

/* 全体のレイアウト */
.container {
  height: 100vh; /* 画面全体の高さ */
  display: flex;
  flex-direction: column;
}

/* FV（固定） */
.fv {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: fixed;
  inset: 0;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255,255,255,0.8);
  width: 1000px;
  max-width: 100%;
  height: 300px; /* FVの高さ（調整可） */
  z-index: 10; /* スクロールエリアより前面に */
}

/* FVの下のスクロールエリア */
.scroll-area {
  margin-top: 300px; /* FVの高さと合わせる */
  height: calc(100vh - 300px); /* FVを除いた残りの高さ */
  overflow-y: auto; /* 縦スクロールを許可 */
  padding: 20px;
}

.inner{
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.moreLinkText {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
/*ホバーしたときに下線矢印も同時に色を変える*/
.moreLinkText:hover .lineArrow  {
    border-bottom: 1px solid #41A849;
    border-right: 1px solid #41A849;
}
.moreLinkText:hover {
    color: #41A849;
}
.lineArrow {
  width: 130%;
  height: 15px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
   /*傾きを調節*/
  transform: skew(45deg);
  /*下線矢印をテキストに合わせてうまい具合にはめる*/
  margin: -10px -10px 0 -25px;
}
nav ul div{
  display: flex;
  margin-top: 10px;
}
nav ul div img{
  width: 30px;
}


h1{
  font-size: clamp(24px,10vw,128px);
  font-weight: 100;
}

h2{
  font-weight: 100;
  position: relative;
  margin-bottom: 50px;
  background: rgba(255,255,255,0.8);
  padding-left: 10px;
}

h2::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #41A849;
}

section{
  padding: 30px;
  scroll-padding-top: 300px;
}

#concept .info{
  display: flex;
  align-items: center;
}

#concept img{
  width: 200px;
}
#concept p{
  background: rgba(255,255,255,0.8);
  padding: 10px;
}
.illust{
  display: flex;
}

#commitment img{
  width: 150px;
}

#commitment .info1{
  display: flex;
  align-items: center;
  justify-content: space-around;

}
#commitment .info2{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

#commitment p{
  background: rgba(255,255,255,0.8);
  padding: 10px;
}

#plan .info{
  display: flex;
  justify-content: space-around;
}

.kihon,
.option{
  background: rgba(255,255,255,0.8);
  padding: 10px 10px 10px 30px;
}

.kihon p,
.option p{
  padding-bottom: 30px;
  text-align: center;
  text-decoration: underline;
}

#portfolio img{
  width: 300px;
  height: 200px;
  box-shadow: 2px 2px #2e2e2e;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
}
#portfolio .info{
  display: flex;
  gap: 30px;
  overflow-x: auto;
}

#portfolio dl{
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
}

#about .info1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 30px;

}

#about .info1 .illust{
  background-color: rgba(103, 9, 236, 0.7);
  border-radius: 50px;
  padding: 30px;
}
#about .info2{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  position: relative;
}

#about p{
  background: rgba(255,255,255,0.8);
  padding: 10px;
}

#about img{
  width: 100px;
}

#about .illust{
  display: flex;
}



@keyframes swing {
  0% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}

.swing {
  display: inline-block; /* インライン要素は回転しないので指定 */
  animation: swing 4s infinite ease-in-out;
}

/* 点滅 */
.blinking{
	-webkit-animation:blink 2s ease-in-out infinite alternate;
    -moz-animation:blink 2s ease-in-out infinite alternate;
    animation:blink 2s ease-in-out infinite alternate;
}
.blinking2{
	-webkit-animation:blink 1s ease-in-out infinite alternate;
    -moz-animation:blink 1s ease-in-out infinite alternate;
    animation:blink 1s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

footer{
  background-color: rgba(255,255,255,0.8);
}

footer ul{
  text-align: center;
  line-height: 3;
}

footer p{
  text-align: end;
}
.animate { opacity: 0; /* 最初は見えない */ 
  transform: translateY(20px); /* ちょっと下にずらす */ 
  transition: opacity 1s, transform 1s; } 
  
  .fade-in { opacity: 1; /* ふわっと表示 */ transform: translateY(0); }

@media (max-width: 800px){
#concept .info{
  flex-direction: column;
}
#commitment .info1{
  flex-direction: column-reverse;
}
#commitment .info2{
  flex-direction: column;
}
#plan .info{
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
#about .info1 .illust{
display: none;
}
#about .info2{
flex-direction: column;
}
}
  
